<.form let={f} for={@changeset} action={@action}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= text_input f, :name, class: "text-black w-full rounded ring-1 ring-blue-700 focus:ring-blue-500 my-1", placeholder: "Name" %>
  <div class="pt-4"><%= error_tag f, :name %></div>

  <div class="">
    <%= submit "Save", class: "btn py-2 px-6" %>
  </div>
</.form>
