<h1 class="text-2xl"><%= @list.name %></h1>

<span><%= link "Edit", to: Routes.list_path(@conn, :edit, @list), class: "btn" %></span>
<span><%= link "Back", to: Routes.list_path(@conn, :index), class: "btn" %></span>

<div>
  <span><%= link "List Keys", to: Routes.list_key_path(@conn, :index, @list_id), class: "btn" %></span>
</div>

<div>
  <span><%= link "Signups", to: Routes.signup_path(@conn, :index, @list_id), class: "btn" %></span>
</div>