<div class="flex my-4 pb-8">
    <%= link "Back", to: Routes.list_path(@conn, :show, @list_id), class: "btn py-2 px-6 mr-8" %>
    <h1 class="text-4xl font-bold pr-8">New Signup</h1>
</div>

<%= render "form.html", Map.put(assigns, :action, Routes.signup_path(@conn, :create, @list_id)) %>
