<h1>Show Signup</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @signup.email %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @signup.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.signup_path(@conn, :edit, @list_id, @signup) %></span> |
<span><%= link "Back", to: Routes.signup_path(@conn, :index, @list_id) %></span>
