<h1>Edit List key</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.list_key_path(@conn, :update, @list_key)) %>

<span><%= link "Back", to: Routes.list_key_path(@conn, :index) %></span>
