<h1>Show List key</h1>

<ul>

  <li>
    <strong>Client code:</strong>
    <%= @list_key.client_code %>
  </li>

</ul>

<span><%= link "Back", to: Routes.list_key_path(@conn, :index, @list_id) %></span>
