<main class="px-6 py-8 my-10 sm:max-w-5xl sm:mx-auto sm:rounded-lg sm:px-10">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
